* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #EC6F66, #f3a183);
    font-family: Montserrat, sans-serif;
}

ul {
    list-style: none;
}

#navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background: rgb(57 54 63);
    z-index: 1;
}

.nav-Links li a {
    text-shadow: 2px 2px 3px black;
    font-weight: bolder;
    text-decoration: none;
    font-size: 16px;
    float: right;
    display: block;
    color: #ffffffd4;
    text-align: center;
    padding: 25px 52px;
}

.nav-Links li a:hover {
    color: #EC6F66;
    text-shadow: 1px 1px 15px white;
    ;
}

main {
    margin-top: 52px;
}

#welcome-section {
    height: 100vh;
}

#message {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#message h1 {
    font-size: 6vh;
    text-align: center;
    color: #ffffffd4;
    text-shadow: 1px 1px 10px black;
    font-family: 'Kaushan Script', cursive;}

#message img {
    max-width: 70%;
    border-radius: 20px;
    box-shadow: 2px 2px 6px white;
    opacity: 0.9;
}
#message img:hover {
    opacity: 1;
    box-shadow: 4px 4px 12px white;

}

#message h3 {
    font-family: 'Michroma', sans-serif;
    font-size: 4vh;
    color: #ffffffd4;
    text-shadow: 1px 1px 10px black;
}

#projects {
    background: rgb(37 45 58 / 90%);
}

#projects h3 {
    font-family: 'Kaushan Script', cursive;
    color: #EC6F66;
    text-align: center;
    padding: 30px;
    font-size: 3vh;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 5%;
}

.project-title {
    text-align: center;
}
.project-title:hover {
    opacity: 0.8;
    text-shadow: 1px 1px 2px #ffffffd4;
}

.project-title a {
    text-decoration: none;
    color: rgb(57 54 63);
    text-align: center;
    font-weight: bold;
}

.project-image {
    max-width: 100%;
    display: flex;
    box-sizing: border-box;
    max-height: 100%;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 2px 2px 5px black;
}

.image-footer {
    padding: 10px;
    font-family: 'Michroma', sans-serif;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 5px black;
    background: linear-gradient(90deg, #EC6F66, #f3a183);
}

#showAll {
    display: flex;
    justify-content: center;
}

#profile-link {
    background: #EC6F66;
    margin-bottom: 35px;
    padding: 15px 20px;
    color: rgb(57 54 63);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
}

#profile-link:hover {
    background: #f3a183;
}

#contact {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#contact h3 {
    text-align: center;
    font-style: italic;
    font-family: 'Michroma', sans-serif;
    font-size: 3vh;
    font-weight: bold;
    color: rgb(57 54 63);
    text-shadow: 2px 2px 14px #ffffffd4;
    padding: 10px 25px;
}

#contactIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

#contactIcons a {
    padding: 10px;
    text-decoration: none;
    color: rgb(57 54 63);
}

#contactIcons a:hover {
    text-shadow: 1px 1px 1px black;
}

#footerDivision {
    height: 3px;
    width: 100%;
    box-sizing: border-box;
    background: rgb(57 54 63);
}

footer {
    text-align: center;
    padding: 25px;
    font-style: italic;
    color: rgb(57 54 63);
}

